# Pandas Data Analysis in python

In [1]:
import pandas as pd
s =pd.Series()
print(s)

Series([], dtype: float64)

In [2]:
import numpy as np
data = np.array(['a','b','c','d','e'])

s = pd.Series(data)
s

0    a
1    b
2    c
3    d
4    e
dtype: object

In [4]:
s = pd.Series(data,index=[100,101,102,103,104])
s

100    a
101    b
102    c
103    d
104    e
dtype: object

Create a Series from dict

In [5]:
data  = {'a':0.,'b':1.,'c':2.}
s = pd.Series(data)
s

a    0.0
b    1.0
c    2.0
dtype: float64

In [6]:
data

{'a': 0.0, 'b': 1.0, 'c': 2.0}

In [8]:
s = pd.Series(data,index=['b','c','d'])
s

b    1.0
c    2.0
d    NaN
dtype: float64

Create a Series from Scalar

In [10]:
import numpy as np
import pandas as pd
s = pd.Series(5,index=[0,1,2,3])
print(s)

0    5
1    5
2    5
3    5
dtype: int64

Accessing Data from Series with Position

In [13]:
import pandas as pd
s =pd.Series([1,2,3,4],index=["a","b","c","d"])

s[0] # Will o index value

1

In [21]:
#example 2 
import pandas as pd
s = pd.Series([1,2,3,4,5,6,7,8,9],index=["a","b","c","d","e","f","g","h",'i'])
print(s[-3:])

g    7
h    8
i    9
dtype: int64

# Retrieve Data Using Label (Index)

In [25]:
import pandas as pd
s = pd.Series([1,2,3,4,5,6],index=["a","a","c","d","e","f"])

print(s["a"])

a    1
a    2
dtype: int64

# Pandas DataFrame

In [ ]:
pandas.Dataframe(data,index,columns,dtype,copy)

In [31]:
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [40]:
import pandas as pd
data = [1,2,3,4]
df = pd.DataFrame(data,index=['a',"b","c","d"])

df

   0
a  1
b  2
c  3
d  4

In [36]:
import pandas as pd
data = [["Alex",10],["Bob",12],["Clarke",13]]
df = pd.DataFrame(data,columns=["Name","Age"])

print(df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [37]:
import pandas as pd
data = [["Alex",10],["Bob",12],["Clarke",13]]
df = pd.DataFrame(data,columns=["Name","Age"],dtype=float)

print(df)

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

In [39]:
import pandas as pd
data = {"Name":["tom",'Jack','Steve','ricky'],"Age":[20,35,89,75]}
df = pd.DataFrame(data)
print(df)

    Name  Age
0    tom   20
1   Jack   35
2  Steve   89
3  ricky   75

In [41]:
import pandas as pd
data = {"Name":["tom",'Jack','Steve','ricky'],"Age":[20,35,89,75]}
df = pd.DataFrame(data,index = ['rank1','rank2','rank3','rank4'])
print(df)

        Name  Age
rank1    tom   20
rank2   Jack   35
rank3  Steve   89
rank4  ricky   75

Create A DataFrame from list of Dicts

In [42]:
data = [{"a":1,"b":2},{"a":5,"b":60}]
df = pd.DataFrame(data)
print(df)

   a   b
0  1   2
1  5  60

In [44]:

import pandas as pd
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data, index=['first', 'second'])
print(df)

        a   b     c
first   1   2   NaN
second  5  10  20.0

# Create a DataFrame from Dict of Series

In [51]:
import pandas as pd
d = {'one':pd.Series([1,2,3,4],index=["a","b","c","d"]),'Two':pd.Series([1,2,3,4],index=["a","b","c","d"])}

data = pd.DataFrame(d)
print(d)

{'one': a    1
b    2
c    3
d    4
dtype: int64, 'Two': a    1
b    2
c    3
d    4
dtype: int64}

In [5]:
import pandas as pd
d = {"one":pd.Series([1,2,3],index=['a','b','c',]),
    "Two":pd.Series([1,2,3,4],index=["a","b","c","d"])}

df=pd.DataFrame(d)

df["one"]

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

# Column Addition

In [9]:
import pandas as pd
d = {"one":pd.Series([1,2,3],index=["a","b","c"]),
    "Two":pd.Series([1,2,3,4],index=["a","b","c","d"])}

df=pd.DataFrame(d)
df["Two"]

#Adding A new column to an existing DataFrame object with column label by passing new series

a    1
b    2
c    3
d    4
Name: Two, dtype: int64

In [10]:
print("Adding a new column by passing as Series")
df["Theree"] = pd.Series([20,10,30],index=['a','b','c'])
print(df)

Adding a new column by passing as Series
   one  Two  Theree
a  1.0    1    20.0
b  2.0    2    10.0
c  3.0    3    30.0
d  NaN    4     NaN

In [11]:
print("Adding a new column by passing as Series")
df["Four"]=pd.Series([550,54,68],index=["a","b",'d'])

print(df)

Adding a new column by passing as Series
   one  Two  Theree   Four
a  1.0    1    20.0  550.0
b  2.0    2    10.0   54.0
c  3.0    3    30.0    NaN
d  NaN    4     NaN   68.0

In [13]:
print("Adding a new column using the existing columns in DataFrame")

df["Five"] = df["one"]+df["Two"]

print(df)

Adding a new column using the existing columns in DataFrame
   one  Two  Theree   Four  Five
a  1.0    1    20.0  550.0   2.0
b  2.0    2    10.0   54.0   4.0
c  3.0    3    30.0    NaN   6.0
d  NaN    4     NaN   68.0   NaN

# Column Deletion

In [18]:
#Using the previous DataFrame, We will delete a column
#Using del dunction ''
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']), 
   'three' : pd.Series([10,20,30], index=['a','b','c'])}
df = pd.DataFrame(d)
print ("Our dataframe is:")
print(df)

#Using del Function
print("Delete]ing the first column using DEL Function:")
del(df["one"])
print(df)

#Using Pop Function 
print("Deleting another column using POP function")
df.pop('two')
print(df)

Our dataframe is:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Delete]ing the first column using DEL Function:
   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN
Deleting another column using POP function
   three
a   10.0
b   20.0
c   30.0
d    NaN

# Row Selection, Addition, and Deletion

In [21]:
import pandas as pd
d ={'one':pd.Series([1,2,3],index=["a","b","c"]),
   'two':pd.Series([1,2,3,4],index=["a","b","c","d"])}

df = pd.DataFrame(d)
print(df)
print(df.loc["b"])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
one    2.0
two    2.0
Name: b, dtype: float64

In [25]:
#Selection by Integer location

import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print(df)
print(df.iloc[1])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
one    2.0
two    2.0
Name: b, dtype: float64

# Slice Row

In [27]:
import pandas as pd
d= {"one":pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print(df)

print(df[2:4])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
   one  two
c  3.0    3
d  NaN    4

# Addition of Rows

In [31]:
import pandas as pd
df = pd.DataFrame([[1,2],[3,4]],columns=["a","b"])
df2 = pd.DataFrame([[5,6],[7,8]],columns=["a","b"])
df = df.append(df2)
print(df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

# Deletetion of Rows

In [33]:

import pandas as pd

df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

df = df.append(df2)

#Drop rows with label 0
df = df.drop(0)

print(df)

   a  b
1  3  4
1  7  8