In [2]:
import pandas as pd
import numpy as np

a = pd.Series([1,2,3,4,5,6,7,8,9])

a.pct_change()

0         NaN
1    1.000000
2    0.500000
3    0.333333
4    0.250000
5    0.200000
6    0.166667
7    0.142857
8    0.125000
dtype: float64

# Covariance

In [ ]:
It Can be Applied on Series data.

In [3]:
import pandas as pd
import numpy as np

s1 = pd.Series(np.random.randn(10))
s2 = pd.Series(np.random.randn(10))

print(s1.cov(s2))

-0.3374883845511481

In [6]:
#covariance in dataframe

frame = pd.DataFrame(np.random.randn(10,5),columns=["A","B","C","D","E"])

frame["A"].cov(frame["B"])

0.07995197360312337

In [7]:
frame.cov()

          A         B         C         D         E
A  0.390590  0.079952 -0.020976 -0.453951  0.205728
B  0.079952  1.710822 -0.560047  0.096595 -0.475512
C -0.020976 -0.560047  1.141566 -0.243579 -0.531386
D -0.453951  0.096595 -0.243579  0.723081 -0.088005
E  0.205728 -0.475512 -0.531386 -0.088005  1.136452

# Correlation

Correlatin shows the linear relationship between any two array of values

In [9]:
frame['A'].corr(frame['B'])

0.09780615411102939

In [ ]:
frame.corr()

# Data Ranking

In [12]:
import pandas as pd
import numpy as np 

s = pd.Series(np.random.randn(5),index=list('abcde'))

s['d'] = s['b']

s.rank()

a    4.0
b    1.5
c    5.0
d    1.5
e    3.0
dtype: float64