In [1]:
# import the pandas library
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f',
'h'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

df

        one       two     three
a -0.759858  0.081207  0.418385
b       NaN       NaN       NaN
c  0.110850  0.433754  0.481352
d       NaN       NaN       NaN
e -0.584938 -1.652040  0.238601
f -0.121884 -0.647820 -0.126646
g       NaN       NaN       NaN
h  0.351806  1.884338 -0.693834

Example 1

In [2]:
# to check missing value if value is NaN then print True
df['one'].isnull()

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [3]:
# another function for print missing data it syas false if data is missing 
df['two'].notnull()

a     True
b    False
c     True
d    False
e     True
f     True
g    False
h     True
Name: two, dtype: bool

# Cleaning / Filling Missing Data

In [6]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(3,3),index=['a','c','e'],columns=['one','two','three'])

df = df.reindex(['a','b','c'])

print(df)

print("NaN replaced with '0' : ")
print(df.fillna(0))

        one       two     three
a -0.047348  0.006634  0.587379
b       NaN       NaN       NaN
c  0.148050  1.923689  2.111405
NaN replaced with '0' :
        one       two     three
a -0.047348  0.006634  0.587379
b  0.000000  0.000000  0.000000
c  0.148050  1.923689  2.111405

# Fill NA Forward and Backward

In [15]:
import pandas as pd
import numpy as np 
df = pd.DataFrame(np.random.randn(5,3),index=['A','C','E','F','H'],columns=['one','two','three'])
#reindexing 
df = df.reindex(['A','B','C','D',"E",'F'])
print(df)
df.fillna(method='pad')

        one       two     three
A -0.100469  0.993393 -1.321407
B       NaN       NaN       NaN
C -0.589150  1.565204  0.593389
D       NaN       NaN       NaN
E  0.475123  0.417786  1.609519
F -1.067386  0.495181 -0.357822

        one       two     three
A -0.100469  0.993393 -1.321407
B -0.100469  0.993393 -1.321407
C -0.589150  1.565204  0.593389
D -0.589150  1.565204  0.593389
E  0.475123  0.417786  1.609519
F -1.067386  0.495181 -0.357822

In [16]:
import pandas as pd
import numpy as np 
df = pd.DataFrame(np.random.randn(5,3),index=['A','C','E','F','H'],columns=['one','two','three'])
#reindexing 
df = df.reindex(['A','B','C','D',"E",'F'])
print(df)
df.fillna(method='backfill')

        one       two     three
A  0.225245  1.582382  0.046565
B       NaN       NaN       NaN
C -1.697369 -0.402317  0.446897
D       NaN       NaN       NaN
E -0.339327 -0.544621 -0.060049
F  1.074915  1.232502  0.417489

        one       two     three
A  0.225245  1.582382  0.046565
B -1.697369 -0.402317  0.446897
C -1.697369 -0.402317  0.446897
D -0.339327 -0.544621 -0.060049
E -0.339327 -0.544621 -0.060049
F  1.074915  1.232502  0.417489

# Drop Missing Values

In [17]:
import pandas as pd
import numpy as np 
df = pd.DataFrame(np.random.randn(5,3),index=['A','C','E','F','H'],columns=['one','two','three'])
#reindexing 
df = df.reindex(['A','B','C','D',"E",'F'])
print(df)
df.dropna()

        one       two     three
A  0.760830 -0.740986  0.686309
B       NaN       NaN       NaN
C -1.562577 -0.198151  1.843119
D       NaN       NaN       NaN
E  0.155392 -1.270050  0.343497
F -1.477029 -0.168047 -1.201250

        one       two     three
A  0.760830 -0.740986  0.686309
C -1.562577 -0.198151  1.843119
E  0.155392 -1.270050  0.343497
F -1.477029 -0.168047 -1.201250

We use dropna function to delete nan vale added row

In [18]:
import pandas as pd
import numpy as np 
df = pd.DataFrame(np.random.randn(5,3),index=['A','C','E','F','H'],columns=['one','two','three'])
#reindexing 
df = df.reindex(['A','B','C','D',"E",'F'])
print(df)
df.dropna(axis=1)

        one       two     three
A -1.082719 -0.587411  0.667368
B       NaN       NaN       NaN
C  0.358595 -0.895945  0.688259
D       NaN       NaN       NaN
E  0.784401 -1.664769 -0.389764
F  0.942326 -0.425907 -0.697889

Empty DataFrame
Columns: []
Index: [A, B, C, D, E, F]