# Series Basic Functionality

In [2]:
import pandas as pd #here i write this code every time for the better practice but we can declare onecs in raal project
import numpy as np#here i write this code every time for the better practice but we can declare onecs in raal project

# Create Series with 200 random number

d = pd.Series(np.random.randn(200))

print(d)

0     -1.114270
1     -1.062762
2      1.813491
3      0.180895
4     -0.058488
5     -0.582182
6      1.387489
7      1.137987
8      0.378657
9      0.138787
10    -0.777490
11     1.322202
12     1.346169
13    -0.168897
14     1.233109
15     0.213178
16    -1.632239
17     1.420816
18    -1.707813
19    -1.029384
20     0.155092
21    -0.028890
22    -0.580622
23     0.429751
24    -1.297159
25    -1.028472
26     1.171588
27     1.284149
28     0.289649
29     0.220593
         ...
170   -0.078816
171    1.264125
172    1.158842
173   -0.992804
174    0.228851
175   -0.602694
176    0.070856
177    0.019573
178    0.518206
179   -0.048056
180    0.263315
181   -0.738239
182   -0.422039
183    1.807662
184    0.051970
185    0.032779
186   -0.734074
187   -1.580544
188   -0.314013
189    0.961893
190    1.127720
191    0.437303
192    0.954382
193   -1.651834
194   -0.771303
195    0.997766
196    0.132890
197    1.237249
198    0.541155
199    0.732468
Length: 200, dtype: float64

# Axes

In [6]:
import numpy as np
import pandas as pd

#Creating a Series with 200 random number

random_number = pd.Series(np.random.randn(200))
print("The Axes are:")
print(random_number.axes)

The Axes are:
[RangeIndex(start=0, stop=200, step=1)]

# Empty 
#WIll returns the Boolean value saying whether the object is empty or not

In [7]:
import numpy as np
import pandas as pd
#$Creating a Series with 200 random value

random = pd.Series(np.random.randn(200))

print("IS the Object enmty??")

print(random.empty)

IS the Object enmty??
False

In [10]:
# Is empty is returns true
import numpy as np
data = np.array([])

s = pd.Series(data)
print("IS the Object enmty??")

print(s.empty)

IS the Object enmty??
True

# ndim

In [ ]:
# It will returns the number of dimensions of the object.

In [13]:
import pandas as pd
import numpy as np

#Create a Series with 10 random value
Series = pd.Series(np.random.randn(10))

print(Series)

print("The dimention of the object: ")
print(Series.ndim)

0    0.097600
1   -1.057050
2   -0.074914
3    0.481547
4   -0.639689
5    0.842355
6    0.718823
7    0.293326
8   -0.033743
9   -1.304504
dtype: float64
The dimention of the object:
1

In [19]:
# For 2 Dimension 

Series={"one":pd.Series([1,2,3],index=["a","b","c"]),
       "two":pd.Series([1,2,3],index=["a","b","c"])}
df = pd.DataFrame(Series)
print(df)
print ("The dimensions of the object:")
print(df.ndim)

   one  two
a    1    1
b    2    2
c    3    3
The dimensions of the object:
2

In [ ]:
#Example 2D

In [23]:
Series = {"one":pd.Series(np.random.randn(4),index=["a","b","c","d"]),
          "two":pd.Series(np.random.randn(4),index=["a","b","c","d"])}

df = pd.DataFrame(Series)
          
print(df    )      
print ("The dimensions of the object:")
print(df.ndim)

        one       two
a  0.214088  0.559303
b -0.335691 -0.086670
c  0.049170 -1.124428
d -0.328126  1.083902
The dimensions of the object:
2

# Size

In [26]:
import pandas as pd
import numpy as np

#Create a series with 10 random values

s = pd.Series(np.random.randn(10))

print(s)
print("The size of the object: ")
print(s.size)

0    1.202933
1   -1.423975
2   -0.922382
3   -0.600596
4    0.658602
5   -0.143898
6   -0.390910
7    0.796026
8   -1.260093
9   -1.560156
dtype: float64
The size of the object:
10

# Values

In [29]:
import pandas as pd
import numpy as np

# Create a Series eith 10 random value

ss = pd.Series(np.random.randn(10))

print(ss)

print("The actual data Seriers is: ")

print(ss.values)

0   -1.793852
1   -0.736058
2   -0.629967
3    1.097746
4    0.053872
5    0.466721
6   -0.720191
7    1.069444
8    1.651030
9   -0.619036
dtype: float64
The actual data Seriers is:
[-1.79385196 -0.73605777 -0.62996697  1.09774589  0.05387223  0.46672085
 -0.7201914   1.06944399  1.65103028 -0.61903647]

# Head & Tail

In [31]:
import pandas as pd
import numpy as np

#Create a series with 4 random numbers
s = pd.Series(np.random.randn(4))
print ("The original series is:")
print(s)

print ("The first two rows of the data series:")
print(s.head(2))

The original series is:
0    0.588567
1   -0.228040
2   -0.419892
3    0.609202
dtype: float64
The first two rows of the data series:
0    0.588567
1   -0.228040
dtype: float64

# Tail()

In [32]:

print ("The last two rows of the data series:")
print (s.tail(2))

The last two rows of the data series:
2   -0.419892
3    0.609202
dtype: float64

# DataFrame Basic Functionality

In [33]:
import pandas as pd
import numpy as np 

#Create a dictionary of Series
d = {"Name":pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
    "Age":pd.Series([25,26,25,23,30,29,23]),
    "Rating":pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a dataframe
df = pd.DataFrame(d)

print("Our data Series is :")

print(df)

Our data Series is :
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80

# T (Transpose)
Returns the transpose of the DataFrame. The rows and columns will interchange.

In [34]:
print(df.T)

           0      1      2     3      4      5     6
Name     Tom  James  Ricky   Vin  Steve  Smith  Jack
Age       25     26     25    23     30     29    23
Rating  4.23   3.24   3.98  2.56    3.2    4.6   3.8

In [36]:
df.head()

    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20

In [37]:
df.describe()

             Age    Rating
count   7.000000  7.000000
mean   25.857143  3.658571
std     2.734262  0.698628
min    23.000000  2.560000
25%    24.000000  3.220000
50%    25.000000  3.800000
75%    27.500000  4.105000
max    30.000000  4.600000

# Axes

In [38]:
print(df.axes)

[RangeIndex(start=0, stop=7, step=1), Index(['Name', 'Age', 'Rating'], dtype='object')]

# Dtypes

In [40]:
df.dtypes

Name       object
Age         int64
Rating    float64
dtype: object

# Empty

In [45]:
df.empty

False

# Shape

In [47]:
df.shape

(7, 3)

# Size

In [48]:
df.size

21

# values

In [49]:
df.values

array([['Tom', 25, 4.23],
       ['James', 26, 3.24],
       ['Ricky', 25, 3.98],
       ['Vin', 23, 2.56],
       ['Steve', 30, 3.2],
       ['Smith', 29, 4.6],
       ['Jack', 23, 3.8]], dtype=object)