Indexing & Description
1	
.loc()

Label based

2	
.iloc()

Integer based

3	
.ix()

Both Label and Integer based

# .loc()

In [3]:
import pandas as pd
import numpy as np

df= pd.DataFrame(np.random.randn(8,4),
index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])
#select all rows for a specific column
print(df.loc[:,['B','C']])

          B         C
a -0.585877 -1.226246
b -1.351275 -0.848404
c  1.533988 -0.345300
d -0.236462 -0.027892
e  1.675998 -0.387950
f  1.578978 -0.044773
g -0.560884 -1.394455
h  1.041365 -0.751573

# .iloc()

In [5]:
import pandas as pd
import numpy as np

df =pd.DataFrame(np.random.randn(8,4),columns = ["A","B","C","D"])

print(df)

df.iloc[:4]

          A         B         C         D
0 -1.218456 -0.971431 -0.430629 -0.175533
1  0.643663  0.887197  0.497776  0.227260
2  1.429613 -1.038304  1.180441  0.150680
3 -1.190291 -0.477292 -1.439240  0.499292
4  0.983048  0.138483 -1.338925  0.162071
5  0.116464  0.331251  0.083697  0.757472
6  1.170336  1.281507  0.533225 -1.327106
7  0.173572 -1.042294  0.986110 -0.010162

          A         B         C         D
0 -1.218456 -0.971431 -0.430629 -0.175533
1  0.643663  0.887197  0.497776  0.227260
2  1.429613 -1.038304  1.180441  0.150680
3 -1.190291 -0.477292 -1.439240  0.499292

In [6]:
#Integer Slicing

print(df.iloc[1:5,2:4])

          C         D
1  0.497776  0.227260
2  1.180441  0.150680
3 -1.439240  0.499292
4 -1.338925  0.162071

In [7]:
# Slicing through list of values
df.iloc[[1,3,5],[1,3]]

          B         D
1  0.887197  0.227260
3 -0.477292  0.499292
5  0.331251  0.757472

In [8]:
df.iloc[1:3, :]

          A         B         C        D
1  0.643663  0.887197  0.497776  0.22726
2  1.429613 -1.038304  1.180441  0.15068

In [9]:
df.iloc[:,1:3]

          B         C
0 -0.971431 -0.430629
1  0.887197  0.497776
2 -1.038304  1.180441
3 -0.477292 -1.439240
4  0.138483 -1.338925
5  0.331251  0.083697
6  1.281507  0.533225
7 -1.042294  0.986110

In [10]:
df.ix[:4]

C:\Users\Abdur-Rafiq\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

          A         B         C         D
0 -1.218456 -0.971431 -0.430629 -0.175533
1  0.643663  0.887197  0.497776  0.227260
2  1.429613 -1.038304  1.180441  0.150680
3 -1.190291 -0.477292 -1.439240  0.499292
4  0.983048  0.138483 -1.338925  0.162071

In [11]:
df["A"]

0   -1.218456
1    0.643663
2    1.429613
3   -1.190291
4    0.983048
5    0.116464
6    1.170336
7    0.173572
Name: A, dtype: float64

In [12]:
df[["A","B"]]

          A         B
0 -1.218456 -0.971431
1  0.643663  0.887197
2  1.429613 -1.038304
3 -1.190291 -0.477292
4  0.983048  0.138483
5  0.116464  0.331251
6  1.170336  1.281507
7  0.173572 -1.042294

In [13]:
df.A

0   -1.218456
1    0.643663
2    1.429613
3   -1.190291
4    0.983048
5    0.116464
6    1.170336
7    0.173572
Name: A, dtype: float64