# Reindexing

In [6]:
import pandas as pd
import numpy as np

N = 30

df = pd.DataFrame({
    'A':pd.date_range(start='2020-05-02',periods = N, freq = "D"),
    'x':np.linspace(0,stop=N-1,num=N),
    "y":np.random.rand(N),
    "C":np.random.choice(['Low','Medium','High'],N).tolist(),
    "D":np.random.normal(100, 10, size=(N)).tolist()
    
})


#reindex the Data Frame

# Create a new variable for new indexing

df_new_index = df.reindex(index=[np.random.randn(30)],columns=["A","C","B"])
print(df_new_index)

            A    C   B
 0.150856 NaT  NaN NaN
 2.023592 NaT  NaN NaN
-1.554873 NaT  NaN NaN
 0.008593 NaT  NaN NaN
 0.301889 NaT  NaN NaN
 0.248489 NaT  NaN NaN
 0.371176 NaT  NaN NaN
 0.027949 NaT  NaN NaN
 1.258140 NaT  NaN NaN
-1.624533 NaT  NaN NaN
-0.879190 NaT  NaN NaN
 1.584154 NaT  NaN NaN
 0.166340 NaT  NaN NaN
 1.133013 NaT  NaN NaN
-0.094070 NaT  NaN NaN
-0.430249 NaT  NaN NaN
-1.331001 NaT  NaN NaN
 0.486538 NaT  NaN NaN
 0.119382 NaT  NaN NaN
 0.751848 NaT  NaN NaN
-0.379210 NaT  NaN NaN
 1.309455 NaT  NaN NaN
 0.743274 NaT  NaN NaN
 0.588787 NaT  NaN NaN
 0.853277 NaT  NaN NaN
-1.272263 NaT  NaN NaN
 0.274619 NaT  NaN NaN
 1.145982 NaT  NaN NaN
-0.296713 NaT  NaN NaN
 0.701367 NaT  NaN NaN

In [7]:
df_reindexed = df.reindex(index=[0,2,5], columns=['A', 'C', 'B'])

df_reindexed

           A       C   B
0 2020-05-02  Medium NaN
2 2020-05-04  Medium NaN
5 2020-05-07    High NaN

# Filling while ReIndexing

In [10]:

import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
df2 = pd.DataFrame(np.random.randn(2,3),columns=['col1','col2','col3'])

# Padding NAN's
df2.reindex_like(df1)

# Now Fill the NAN's with preceding Values
print ("Data Frame with Forward Fill:")
df2.reindex_like(df1,method='ffill')

Data Frame with Forward Fill:

       col1      col2      col3
0 -1.322223  0.918733 -2.443435
1 -0.173702 -0.302239  0.615711
2 -0.173702 -0.302239  0.615711
3 -0.173702 -0.302239  0.615711
4 -0.173702 -0.302239  0.615711
5 -0.173702 -0.302239  0.615711

# Renaming

In [13]:

import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
df1

print ("After renaming the rows and columns:")
df1.rename(columns={'col1' : 'c1', 'col2' : 'c2'},
index = {0 : 'apple', 1 : 'banana', 2 : 'durian'})

After renaming the rows and columns:

              c1        c2      col3
apple   0.205858  0.203448  1.197653
banana -0.737341 -1.341450 -1.037216
durian -0.461641  1.546420  0.468109
3      -1.023668  1.005104  0.767453
4      -0.799783 -0.425049 -0.793039
5       0.206658 -0.267084  0.937534