# Function & Description

1	
lower()

Converts strings in the Series/Index to lower case.

2	
upper()

Converts strings in the Series/Index to upper case.

3	
len()

Computes String length().

4	
strip()

Helps strip whitespace(including newline) from each string in the Series/index from both the sides.

5	
split(' ')

Splits each string with the given pattern.

6	
cat(sep=' ')

Concatenates the series/index elements with given separator.

7	
get_dummies()

Returns the DataFrame with One-Hot Encoded values.

8	
contains(pattern)

Returns a Boolean value True for each element if the substring contains in the element, else False.

9	
replace(a,b)

Replaces the value a with the value b.

10	
repeat(value)

Repeats each element with specified number of times.

11	
count(pattern)

Returns count of appearance of pattern in each element.

12	
startswith(pattern)

Returns true if the element in the Series/Index starts with the pattern.

13	
endswith(pattern)

Returns true if the element in the Series/Index ends with the pattern.

14	
find(pattern)

Returns the first position of the first occurrence of the pattern.

15	
findall(pattern)

Returns a list of all occurrence of the pattern.

16	
swapcase

Swaps the case lower/upper.

17	
islower()

Checks whether all characters in each string in the Series/Index in lower case or not. Returns Boolean

18	
isupper()

Checks whether all characters in each string in the Series/Index in upper case or not. Returns Boolean.

19	
isnumeric()

Checks whether all characters in each string in the Series/Index are numeric. Returns Boolean.

In [2]:
import pandas as pd
import numpy as np
s = pd.Series(['Tom','Richad Parker','John','Alberat',np.nan,'1234'])

print(s)

0              Tom
1    Richad Parker
2             John
3          Alberat
4              NaN
5             1234
dtype: object

# Lower() Function

In [3]:
print(s.str.lower())

0              tom
1    richad parker
2             john
3          alberat
4              NaN
5             1234
dtype: object

# upper() Function

In [4]:
print(s.str.upper())

0              TOM
1    RICHAD PARKER
2             JOHN
3          ALBERAT
4              NaN
5             1234
dtype: object

# len() Function

In [5]:
print(s.str.len()) #Indiviual lenght for each row of string

0     3.0
1    13.0
2     4.0
3     7.0
4     NaN
5     4.0
dtype: float64

# strip() Function

In [9]:
import pandas as pd
import numpy as np

data = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print(data)
print("After Stripping")
print(data.str.strip())

0             Tom
1     William Rick
2             John
3          Alber@t
dtype: object
After Stripping
0             Tom
1    William Rick
2            John
3         Alber@t
dtype: object

# split(pattern)

In [10]:
import pandas as pd
import numpy as np
data
print("Split pattern:")
print(data.str.split(' '))

Split pattern:
0              [Tom, ]
1    [, William, Rick]
2               [John]
3            [Alber@t]
dtype: object

# cat(sep=pattern)

In [11]:
print(data.str.cat(sep="_"))

Tom _ William Rick_John_Alber@t

# get_dummies()

In [12]:
print(data.str.get_dummies())

    William Rick  Alber@t  John  Tom
0              0        0     0     1
1              1        0     0     0
2              0        0     1     0
3              0        1     0     0

# contains()

In [22]:
print(data.str.contains('t'))

0    False
1    False
2    False
3     True
dtype: bool

In [26]:
print(data.str.contains('o'))

0     True
1    False
2     True
3    False
dtype: bool

# replace(a,b)

In [31]:
import pandas as pd
name = pd.Series(["Radib","Rakib","Tamim","Tanim","Aditya"])
print(name)

print("After replaceing b with f: ")
print(name.str.replace("b","f"))

0     Radib
1     Rakib
2     Tamim
3     Tanim
4    Aditya
dtype: object
After replaceing b with f:
0     Radif
1     Rakif
2     Tamim
3     Tanim
4    Aditya
dtype: object

# repeat(value)

In [34]:
import pandas as pd 
s = pd.Series(['Rafiq','Galib','Nahid','Afif'])

print(s.str.repeat(2))

0    RafiqRafiq
1    GalibGalib
2    NahidNahid
3      AfifAfif
dtype: object

# count(pattern)

In [35]:
s.str.count("a")

0    1
1    1
2    1
3    0
dtype: int64

# startswith(pattern)

In [42]:
import pandas as pd

s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print ("Strings that start with 'T':")
s.str. startswith ('T')

Strings that start with 'T':

0     True
1    False
2    False
3    False
dtype: bool

# endswith(pattern)

In [ ]:
s.str.endswith("t")

# find(pattern)

In [46]:
s.str.find("e")

0   -1
1   -1
2   -1
3    3
dtype: int64

"-1" indicates that there no such pattern available in the element.

# findall(pattern)

In [47]:
s.str.findall("e")

0     []
1     []
2     []
3    [e]
dtype: object

# swapcase()

In [48]:
s.str.swapcase()

0             tOM
1     wILLIAM rICK
2             jOHN
3          aLBER@T
dtype: object

# islower()

In [49]:
s.str.islower()

0    False
1    False
2    False
3    False
dtype: bool

# isupper()

In [51]:
s.str.isupper()

0    False
1    False
2    False
3    False
dtype: bool

# isnumeric()

In [53]:

import pandas as pd

isnumeric = pd.Series(['Tom', 788, 'John', 'Alber@t'])

isnumeric.str.isnumeric()

0    False
1      NaN
2    False
3    False
dtype: object

In [56]:
import pandas as pd
a = " Abdur Rafiq"

a.split(' ')

['', 'Abdur', 'Rafiq']