# Sorting

In [2]:
import pandas as pd
import numpy as np

without_sorted_df = pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns=['col2','col1'])
print(without_sorted_df)

       col2      col1
1  0.661090 -1.351932
4 -0.069466  0.856501
6  0.895313 -1.125364
2 -1.669162  2.373273
3  0.257486  0.454353
5  0.775303  1.095298
9  0.597674  0.493904
8 -2.216553  1.288343
0  0.204151 -1.343975
7 -1.891333  0.219843

# By Label

In [3]:
sorted_df = without_sorted_df.sort_index()
print(sorted_df)

       col2      col1
0  0.204151 -1.343975
1  0.661090 -1.351932
2 -1.669162  2.373273
3  0.257486  0.454353
4 -0.069466  0.856501
5  0.775303  1.095298
6  0.895313 -1.125364
7 -1.891333  0.219843
8 -2.216553  1.288343
9  0.597674  0.493904

# Order of Sorting

In [4]:
sorted_df = without_sorted_df.sort_index(ascending = False)
print(sorted_df)

       col2      col1
9  0.597674  0.493904
8 -2.216553  1.288343
7 -1.891333  0.219843
6  0.895313 -1.125364
5  0.775303  1.095298
4 -0.069466  0.856501
3  0.257486  0.454353
2 -1.669162  2.373273
1  0.661090 -1.351932
0  0.204151 -1.343975

# Sort the Columns

In [5]:
sorted_df = without_sorted_df.sort_index(axis=1)
print(sorted_df)

       col1      col2
1 -1.351932  0.661090
4  0.856501 -0.069466
6 -1.125364  0.895313
2  2.373273 -1.669162
3  0.454353  0.257486
5  1.095298  0.775303
9  0.493904  0.597674
8  1.288343 -2.216553
0 -1.343975  0.204151
7  0.219843 -1.891333

# By Value

In [8]:
import pandas as pd
import numpy as np

unsorted_df = pd.DataFrame({'col1':[2,1,1,1],'col2':[1,3,2,4]})
sorted_df = unsorted_df.sort_values(by='col2')

sorted_df

   col1  col2
0     2     1
2     1     2
1     1     3
3     1     4

# Sorting  with Algorithm

In [10]:
sorted_df = unsorted_df.sort_values(by='col1',kind='mergesort')
sorted_df

   col1  col2
1     1     3
2     1     2
3     1     4
0     2     1